<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DbNodeMapper">
  <update id="updateRefreshTime" parameterType="com.example.demo.entity.DbNode">
    update db_node set refresh_time=#{refreshTime},update_time=#{updateTime},update_node_tag=#{updateNodeTag} where node_tag=#{nodeTag}
  </update>

  <select id="getAllAliveDbNodes" parameterType="java.lang.String" resultType="com.example.demo.entity.DbNode">
    select * from db_node where alive_or_not=true and group_id=#{groupId}
  </select>

  <select id="getDbNodeByTag" parameterType="java.lang.String" resultType="com.example.demo.entity.DbNode">
    select * from db_node where node_Tag=#{nodeTag}
  </select>

  <update id="updateMasterState" parameterType="com.example.demo.entity.DbNode">
    update db_node set master_or_not=#{masterOrNot},update_time=#{updateTime},update_node_tag=#{updateNodeTag} where node_tag=#{nodeTag}
  </update>

  <update id="updateAliveState" parameterType="com.example.demo.entity.DbNode">
    update db_node set alive_or_not=#{aliveOrNot},update_time=#{updateTime},update_node_tag=#{updateNodeTag} where node_tag=#{nodeTag}
  </update>

  <select id="getAllDeadDbNodes" resultType="com.example.demo.entity.DbNode">
    select * from db_node where alive_or_not=false and group_id=#{groupId}
  </select>

  <select id="getMasterNode" parameterType="java.lang.String" resultType="com.example.demo.entity.DbNode">
    select * from db_node where master_or_not=true and group_id=#{groupId} limit 1
  </select>

  <select id="getOtherGroupDbNodes" parameterType="java.lang.String" resultType="com.example.demo.entity.DbNode">
    select * from db_node where group_id!=#{groupId}
  </select>

  <update id="updateClusterState" parameterType="com.example.demo.entity.DbNode">
    update db_node set cluster_state=#{clusterState},update_time=#{updateTime},update_node_tag=#{updateNodeTag} where node_tag=#{nodeTag}
  </update>

</mapper>